.container {
    background-color: #fff;
    border-radius: 1rem;
    padding: 5.2rem 4.2rem;
}

.heading {
    font-size: 2rem;
    font-weight: 700;
}

.btnContainer {
    margin-top: 2rem;
    display: grid;
}

.loginText{
    display: block;
    font-size: 1.5rem;
    color: #AD1FEA;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

@media only screen and (min-width: 768px) {
    .btnContainer {
        grid-template-columns: repeat(8, 1fr);

        button {
            grid-column: 8/9;
        }
    }
}

.field {
    margin-top: 2.4rem;
}
