.commentHeading {
    font-family: 1.8rem;
    font-weight: 700;
    line-height: 2.6rem;
}

.comment {
    color: #647196;
    font-size: 1.5rem;
    line-height: 2.2rem;
    font-weight: 400;
}

.commentContainer {
    padding-block: 1rem;
    &:not(:last-child) {
        border-bottom: 0.1px solid rgba($color: #8C92B3, $alpha: .5);
        
    }
}