.button {
    padding: 1.05rem 1.8rem;
    background-color: #AD1FEA;
    border-radius: 1rem;
    color: white;
    border: 0px;
    outline: 0px;
    font-weight: 700;
    cursor: pointer;

    &:hover {
        opacity: 0.9;
    }
}