.container {
    background-color: #fff;
    padding: 7.6rem 2.5rem;
    text-align: center;
    width: 100%;
    max-height: 100%;
    border-radius: 1rem;

    h5 {
        font-size: 2.4rem;
        font-weight: 700;
        margin-top: 5.5rem;
        line-height: 35px;
        letter-spacing: -0.333333px;
    }

    p {
        margin-top: 1.6rem;
        margin-bottom: 5rem;
        font-weight: 400;
        font-size: 16px;
        line-height: 23px;
        text-align: center;
        color: #647196;
    }
}
