.mainContainer {
    max-width: 90%;
    margin: auto;
    min-height: 100vh;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2.4rem;
}

.card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 2.4rem;
}

.body {
    grid-column: 1/3;
    margin-bottom: 1.5rem;
}

.comment {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    span {
        font-size: 1.3rem;
        margin-left: 1.5rem;
        font-weight: 700;
    }
}


@media only screen and (min-width: 768px) {
    .mainContainer {
        max-width: 73rem;
    }

    .container {
        margin-top: 8rem;
    }

    .card {
        grid-template-columns: 70px 1fr 50px;
        gap: 2rem;
    }

    .body {
        grid-column: 2/3;
        grid-row: 1/4;
        margin-bottom: 0;
    }

    .tag {
        grid-column: 1/2;
        grid-row: 1/4;
    }

    .comment {
        grid-column: 3/4;
        grid-row: 1/4;
    }
}

.description {
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.9rem;
    color: #647196;
    margin-block: 0.9rem;
}

.heading {
    font-size: 1.3rem;
    font-weight: 700;
    color: #3a4374;
    cursor: pointer;
    &:hover {
        color: #647196;
    }
}
